.logo {
    height: 20px;
    width: 20px;
}

body {
    background-color: black;
}

h1 {
    color: white;
    position: absolute;
    left: 50px;
}

.titles {
    color: white;
    position: absolute;
    left: 40px;
    top: 150px;

}

.social {
    position: relative;
    right:-100px; 
    padding: 10px;
    margin-right: 30px;

    
}

a {
    text-decoration: none;
    color: grey;
}

nav {
    margin-bottom: 20px;
}

.dropdown {
    position: absolute;
    left: 275px;
    top: 85px;
}

button {
    background-color: grey;
    border-radius: 5%;
}

.fa {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 40px;
    width: 20px;
}

.links {
    margin-bottom: 5px;
}

.title {
    color: white;
}

.subtitle {
    position: relative;
    top: 50px;
    left: 50px;
    color: rgb(151, 146, 146);
}

form {
    position: relative;
    top: 50px;
    left: 50px;
    width: 600px;
    color: white;
}

.btn-primary {
    position: relative;
    top: 20px;
}

.form-group {
    position: relative;
    margin-top: 10px;
    
}

label {
    position: relative;
    margin-bottom: 5px;
}

.comedy {
    position: relative;
    top: 5px;
    left: -10px;
}

.fantasy {
    z-index: 1;
    position: relative;
    top: 10px;
    left: -10px;
}

.flinks {
    position: absolute;
    bottom: 10px;
}

.movie-row{
    margin-top:20px;
    margin-bottom:50px;
}
.movie-cover{
    width:99%;
    transition:0.3s;
    opacity: 0.7;
}
.movie-cover:hover{
    opacity: 1;
    transition:0.3s;
    cursor:pointer;
   transform:scale(1.05);
}


.carousel-control-next{
    margin-right:-5%;
}

.carousel-control-prev{
    margin-left:-5%;
}